body{
    background-color: rgb(40, 40, 40);
}

p{
    color: white;
}

#iw1 {
    float: left; /* Pegar a la izquierda */
    /*padding-left: 150px; /* Padding izquierdo de 40px */
}

#iw2 {
    float: right; /* Pegar a la derecha */
    /*padding-right: 120px; /* Padding derecho de 40px */
}

#iw3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 50vh;
}

.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 8px;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.cyberpunk-checkbox ,#cbo1{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }

.checkbox-container , #txt16{
    display: flex;
    justify-content: center;
}
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

button {
 padding: 0.8em 1.8em;
 border: 2px solid #17C3B2;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #17C3B2;
}

button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #17C3B2;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}

#slt, #slt1, #slt2{
    font-size: 18px;
}